Bosy{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'roboto', 'Arial', sans-serif;
  font-size: 14px;
  color#444;
}

H1{
  width: 100%;
  height: 18%;
  text-align: center;
  line-height: 200%;
  position: absolute;
  z-index: 1;
  margin-top: 20%;
  background-color: white;
}

.img_header { 
width: 100%;
height: 100%;
}

.graph_1 { 
  width: 75%;
  height: 75%;
  margin-left: 12.5%;
}

.text_grap_1 { 
  padding-left: 2.5%;
}

.black_zone{ 
background-color: #141414;
color: white;
}

.intro_complot { 
  padding-top: 5%;
  padding-left: 2.5%;
}


.complot_text { 
  display: flex;
  flex-direction: row;
  padding-top: 10%;
}

.complot_text_1 { 
  text-align: justify;
  width: 30%;
  margin: 2.5%;
  padding-bottom: 10%;
}
.complot_text_2 { 
  text-align: justify;
  width: 30%;
  margin: 2.5%;
}
.complot_text_3 { 
  text-align: justify;
  width: 30%;
  margin: 2.5%;
}

.questions { 
  display: flex;
  flex-direction: row;
}

.questions_text_intro { 
  padding-top: 1.5%;
  padding-left: 2.5%;
}

.questions_text_conclu { 
  padding-bottom: 2.5%;
  padding-left: 2.5%;
}

.questions_1 { 
  text-align: justify;
  width: 30%;
  margin: 2.5%;
  padding-bottom: 10%;
}
.questions_2 { 
  text-align: justify;
  width: 30%;
  margin: 2.5%;
}
.questions_3 { 
  text-align: justify;
  width: 30%;
  margin: 2.5%;
}

.graph_2 { 
  width: 50%;
  height: 50%;
  padding-left: 7%;
  margin-bottom: 2%;
}
.graph_3 { 
  width: 50%;
  height: 50%;
  padding-left: 10%;

}

.graphique_2 { 
  display: flex;
  flex-direction: row;
}
.graphique_3 { 
  display: flex;
  flex-direction: row;
}

.graphique_2_text { 
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 12%;
}

.graphique_3_text { 
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 7%;
}

